:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fb5533;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 24px;
    --header-search-height: calc(var(--header-height) - var(--navbar-height));
    --star-color: rgb(251, 206, 61);
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    /* Trick font size */
    font-size: 62.5%; /* 100% = 16px */
    /* Khi đặt font là 1rem = 10px */
    line-height: 1.6rem; /* 1.6rem = 16px */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.app {
    overflow: hidden;
}

/* Responsive */
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    /* display: flex; */
    animation: fadeIn ease .5s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    z-index: 1;
    margin: auto;
    animation: grow linear .25s;
}

/* button */
.btn {
    padding: 0 12px;
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--size-s {
    height: 30px;
    font-size: 1.2rem;
    padding: 0px 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */
.select-input {
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #fff;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 9px);
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    animation: fadeIn ease .4s;
    z-index: 1;
}

.select-input__list::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 20px;
    top: -16px;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px 0px;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.pagination-item {
    margin: 0 16px;
}

.pagination-item--active .pagination-item__link {
    background-color: #d0011b;
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: var(--primary-color);
}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
    font-size: 1.95rem;
}