/* Header === */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    /* Góc 0 độ, mã màu 1, mã màu 2 */
}

/* Top header === */
.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 6px;
}

.navbar__icon:hover,
.navbar__item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__item {
    display: inline-block;  
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
    margin: 0 8px;
    position: relative;
}

.navbar__notice {
    position: absolute;
    padding: 1px 4px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    border-radius: 10px;
    top: -5px;
    left: 3px;
}

.navbar__item--no-margin {
    margin: 0;
}

.navbar__item:first-child {
    margin-left: 0;
}

.navbar__item span {
    font-size: 1.3rem;
    margin: 0px 4px;
}

.navbar__item--strong {
    font-weight: 400;
}

    /* navbar User === */
.navbar__user {
    position: relative;
}

.navbar__user:hover .navbar__user-menu {
    display: block;
}

.navbar__user-img {
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    object-fit: contain;
}

.navbar__user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    z-index: 1;
    border: 1px solid #d3d3d3;
    display: none;
    animation: grow ease-in .2s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top;
}

.header__cart-list::after,
.navbar__language::after,
.navbar__notify::after,
.navbar__user-menu::after {
    /* mũi tên */
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 10px;
    top: -26px;
    z-index: -1;
}

.navbar__user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    padding: 12px;
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

.navbar__user-item:hover a {
    background-color: #f7f7f7;
    color: #26aa99;
}

.navbar__user-item-separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
    /* === End navbar user */

.navbar__icon {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 8px;
}

.navbar__icon--small {
    font-size: 1.4rem;
}

.header__navbar-list,
.navbar__item,
.navbar__icon {
    display: flex;
    align-items: center;
}

.navbar__item--no-hover {
    cursor: text;
    color: var(--white-color);
}

.separate {
    border-left: 1px solid #f96d5c;
    height: 100%;
}

/* Navbar QR code === */
.navbar__qr {
    background-color: var(--white-color);
    position: absolute;
    width: 186px;
    left: 0;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .2s;
    cursor: default;
    will-change: opacity;
    z-index: 1;
}

.navbar__qr::before {
    /* Tạo cầu nối giữa navbar__qr và thẻ cha */
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 20px;
    top: -16px;
}

    /* Hover show QR */
.navbar__item--show-qr:hover .navbar__qr {
    display: block;
}

.navbar__qr-apps {
    display: flex;
    justify-content: space-between;
}

.navbar__qr-img {
    width: 100%;
}

.navbar__qr-apps-img {
    height: 16px;
}

.navbar__apps:first-child {
    margin-left: 11px;
}

.navbar__apps:nth-child(2) {
    margin-right: 9px;
}
/* === End navbar QR code */

/* Nav bar notify === */
.navbar__notify {
    position: absolute;
    top: 118%;
    width: 404px;
    background-color: var(--white-color);
    right: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    display: none;
    transform-origin: calc(100% - 32px) top;
    /* Tạo góc xuất hiện animation */
    animation: grow ease-in .2s;
    cursor: default;
    will-change: opacity, transform;
    /* Báo cho trình duyệt biết là phần tử 
    sẽ thay đổi những gì, từ đó trình duyệt sẽ
    tự tối ưu*/
    z-index: 1;
}

.navbar__notify::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 20px;
    top: -16px;
}
    /* Hover show notify */
.navbar__item--show-notify:hover .navbar__notify{
    display: block;
}

.navbar__notify-header {
    height: 40px;
    background-color: var(--white-color);
    -webkit-user-select: none;
    user-select: none;
}

.navbar__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 4rem;
}

.navbar__notify-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.navbar__notify-item:hover {
    background-color: #f7f7f7;
}

.navbar__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.navbar__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.navbar__notify-img {
    display: block;
    width: 48px;
    object-fit: contain;
}

.navbar__notify-info {
    margin-left: 12px;
}

.navbar__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 10px);
}

.navbar__notify-desc {
    display: block;
    color: var(--text-color);
    line-height: 1.6rem;
}

.navbar__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    padding: 10px;
    display: block;
    text-align: center;
}
/* === End navbar notify */

/* Navbar language === */
.navbar__language {
    background-color: var(--white-color);
    color: var(--text-color);
    position: absolute;
    top: 118%;
    width: 180px;
    right: 0;
    border-radius: 1px;
    animation: grow ease-in .2s;
    display: none;
    transform-origin: calc(100% - 20px) top;
    /* tạo góc xuất hiện cho animation */
    will-change: opacity, transform;
    z-index: 1;
    border: 1px solid #d3d3d3;
}

.navbar__language::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 20px;
    top: -16px;
}

.navbar__language p {
    margin: 0;
    padding: 10px;
    font-weight: 400;
}

.navbar__language p:hover {
    color: #f53e2d;
}

    /* Hover show language */
.navbar__item--show-language:hover .navbar__language {
    display: block;
}
/* === End navbar language */
/* === End top header */

/* Authen modal === */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
    display: none;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__adside {
    margin-top: 16px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: right;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__controls-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 14px 32px;
    display: flex;
    justify-content: space-around;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    color: var(--white-color);
    display: flex;
    align-items: center;
}

.auth-form__socials-google-icon {
    width: 15px;
}

.auth-form__socials-title {
    margin: 0px 24px;
}

.auth-form__socials--faccebook {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__help {
    display: flex;
    justify-content: right;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.auth-form__help-link--orange {
    color: var(--primary-color);
}

.auth-form__help-separate {
    border-left: 1px solid #ccc;
    margin: 0px 12px;
}
/* === End Authen modal */
/* Header with search === */
    /* Header logo === */
.header-with-search {
    height: var(--header-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 195px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 145px;
}
    /* === End header logo */
    /* Header search bar === */
.header__search {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}

.header__search-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 90px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.header__search-history-item {
    padding: 10px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none ;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* chữ dài quá thẻ chứa nó sẽ bị ẩn thành .... Bắt buộc phải đi cùng overflow: hidden và white-space: nowrap */
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-btn {
    min-width: 60px;
    margin-right: 3.5px;
}

.header__search-icon-btn {
    font-size: 1.4rem;
}

.header__search-recommend {
    padding: 7px 0;
}

.header__search-recommend-item {
    color: var(--white-color);
    font-size: 1.2rem;
    padding-right: 8px;
    text-decoration: none;
}
    /* End header search bar === */
    /* Header cart */
.header__cart {
    margin: 0px 70px;
    text-align: center;
    position: relative;
}

    /* hover show cart */
.header__cart:hover .header__cart-list {
    display: block;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2e;
    top: -10px;
    left: 15px;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    right: calc(100% - 30px);
    top: calc(100% + 14px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: none;
    border-radius: 2px;
    transform-origin: calc(100% - 20px) top;
    animation: grow ease-in .2s;
    will-change: opacity, transform;
    z-index: 1;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 20px;
    top: -16px;
}

    /* mũi tên cart*/
.header__cart-list::after {
    top: -18px;
    right: 1px;
    border-width: 10px 15px;
    cursor: pointer;
}

    /* header cart no item === */
.header__cart--no-cart {
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__cart--no-cart .header__cart--no-cart-img,
.header__cart--no-cart .header__cart--no-cart-des {
    display: block;
}

.header__cart--no-cart-img {
    width: 120px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.header__cart--no-cart-des {
    font-size: 1.4rem;
    margin-top: 15px;
    color: var(--text-color);
    display: none;
}
    /* === end header cart no item */

    /* header cart has item === */
.header__cart-list-item {
    max-height: 50vh; /* Đặt chiều cao cố định cho ô chứa sản phẩm */
    overflow-y: auto; /* Hiện thanh cuộn khi vượt quá chiều cao cố định */
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0px 8px 8px;
    font-weight: 400;
    color: #ccc;
    font-size: 1.4rem;
}

.header__cart-item {
    display: flex;
    text-decoration: none;
    cursor: default;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 48px;
    margin: 8px;
    border: 1px solid #ccc;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
    text-align: left;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0px 0px 10px 0px;
    /* Xuống dòng text */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.header__cart-item-price {
    color: var(--primary-color);
    font-size: 1.4rem;
}

.header__cart-item-multiply {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}

.header__cart-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}   

.header__cart-item-desc {
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view-cart-btn {
    float: right;
    margin: 20px 12px 12px 0;
}

.header__cart-view-cart-btn:hover {
    background-color: #f05d41;
}
    /* === end header cart has item */

.header__cart-icon {
    font-size: 2.2rem;
    color: var(--white-color);
    cursor: pointer;
}
    /* === End header cart */
/* === End header with search */
/* ===End header */

/* App container === */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1.1px;
}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 14px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 0px;
    margin-top: 0;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
    margin-top: 7px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    /* Mũi tên category */
    content: "";
    position: absolute;
    border: 3.5px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%; /* 50% của thẻ chứa nó */
    transform: translateY(calc(50% - 8px)); /* 50% của chính nó */
    left: 7px;
}

.category-item__link {
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 16px;
    display: block;
    transition: right linear .1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

    /* home - filter */
.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: #555;
    font-size: 1.4rem;
    margin-right: 16px;
    color: var(--text-color);
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__paginate {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.4rem;
}

.home-filter__page-num {
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}

.home-filter__page-btn {
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    color: #555;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}
    /* Home product item*/
.home-product-item-link {
    text-decoration: none;
}

.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    transition: transform ease-in .1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.home-product-item__header {
    position: relative;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__mini-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-product-item__mini-banner-img {
    width: 100%;
}

.home-product-item__info {
    margin: 0 10px;
}

.home-product-item__name {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 10px 0 0 0;
    overflow: hidden;
    display: block;
    line-height: 1.4rem;
    height: 2.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__tag {
    padding: 2px 4px;
    border: 1px solid #ee4d2d;
    color: #ee4d2d;
    margin-top: 4px;
    display: inline-block;
}

.home-product-item__ribbon {
    position: absolute;
    top: 10px;
    left: -2px;
    color: rgb(208, 1, 27);
    background-color: currentColor;
    width: 28px;
    height: 16px;
    display: flex;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__ribbon::before {
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.5px;
    filter: brightness(75%);
}

.home-product-item__ribbon-info {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/1ea7594a0e6dbc0cdb8640b83a1079bb.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 8px;
    margin: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 30px;
    left: -2px;
    color: var(--primary-color);
    background-color: currentColor;
    padding: 1px 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 1.2rem;
}

.home-product-item__favourite::before {
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    filter: brightness(75%);
}

.home-product-item__favourite span {
    color: white;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;
    color: rgba(255,212,36,.9);
    background-color: currentColor;
    text-align: center;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    border-color: transparent currentColor;
    border-width: 0 18px 4px ; /* Xóa border top */
    border-style: solid;
}

.home-product-item__sale-off-item {
    padding: 4px 2px 3px 2px;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-size: 1.2rem;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.home-product-item__price {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 4px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__footer {
    margin: 15px 0 0 10px;
    display: flex;
    align-items: baseline;
    padding-bottom: 8px;
}

.home-product-item__rating {
    color: var(--star-color);
    font-size: .8rem;
}

.home-product-item__sold {
    margin-left: 4px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}
/* === End App container */

/* Footer */
.footer {
    background-color: #fbfbfb;
    border-top: 4px solid var(--primary-color);
}

.footer-link {
    padding-bottom: 30px;
}

.footer__heading {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.footer-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-item {
    margin-bottom: 12px;
}

.footer__delivery-list,
.footer__purchase-list {
    display: flex;
    flex-wrap: wrap;
}

.footer__delivery-item,
.footer__purchase-item {
    padding: 4px;
    background-color: var(--white-color);
    border-radius: 2px;
    margin-bottom: 8px;
    margin-right: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.footer-item__link {
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
    font-size: 1.2rem;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer__follow-link {
    position: relative;
    margin-left: 20px;
}

.footer__follow-link-icon {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, .6) !important;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.footer__download {
    display: flex;
    flex-direction: row;
}

.footer__download-QR {
    padding: 4px;
    background-color: var(--white-color);
    margin-right: 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
}

.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer__download-item {
    background-color: var(--white-color);
    padding: 4px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    list-style: none;
}

.footer__download-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-coppyright-countries {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
    padding: 40px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-coppyright-countries > p {
    margin: 0; 
    color: rgba(0, 0, 0, 0.6);
}

.countries {
    display: flex;
}

.countries__item {
    padding-left: 5px;
    padding-right: 5px;
    color: rgba(0, 0, 0, .6);
    border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.countries__item:first-child,
.countries__item:last-child {
    border: none;
}

.countries__item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
}

.footer-company-info {
    padding-top: 42px;
    padding-bottom: 37px;
    background-color: #f5f5f5;
}

.footer__privacy-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer__privacy-item {
    padding: 0px 25px;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.footer__privacy-item:last-child {
    border: none;
}

.footer__privacy-item-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .6);
}

.footer__register {
    display: flex;
    justify-content: center;
}

.footer__register-link {
    margin: 0px 20px;
}

.footer__register-link-img {
    width: 120px;
    height: 45px;
    background-position: 14.44444% 99%;
}

.footer__register-link-img--fingerprint {
    width: 48px;
    height: 48px;
    background-position: 1.5% 92%;
}

.footer__me,
.footer__copyright,
.footer__tax-code,
.footer__address,
.footer__name {
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, .6);
    font-size: 1.25rem;
    margin: 8px 0 25px;
}

.footer__me,
.footer__copyright,
.footer__tax-code,
.footer__address {
    margin-bottom: 0;
}

.footer__me a {
    color: var(--primary-color);
}