/* Common === */
.mar-0-8 {
    margin: 0 8px;
}

.mar-0-4 {
    margin: 0px 4px;
}

.font-18 {
    font-size: 1.8rem;
}

.font-13 {
    font-size: 1.3rem
}

.separate {
    border-left: 1px solid #f96d5c;
    height: 100%;
}
/* === End common */

/* Header === */
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    /* Góc 0 độ, mã màu 1, mã màu 2 */
}

/* Top header === */
.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 6px;
}

.navbar__icon:hover,
.navbar__item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__item {
    display: inline-block;  
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
    margin: 0 8px;
    position: relative;
}

.navbar__item--strong {
    font-weight: 400;
}

.navbar__icon {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0px 2px;
}

.header__navbar-list,
.navbar__item,
.navbar__icon {
    display: flex;
    align-items: center;
}

.navbar__item--no-hover {
    cursor: default;
    color: var(--white-color);
}

/* Navbar QR code === */
.navbar__qr {
    background-color: var(--white-color);
    position: absolute;
    width: 186px;
    left: 0;
    top: 150%;
    padding: 0.8rem;
    border-radius: 0.2rem;
    display: none;
    animation: fadeIn ease-in .3s;
}

.navbar__qr::before {
    /* Tạo cầu nối giữa navbar__qr và thẻ cha */
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2rem;
    top: -1.6rem;
    display: block;
}

.navbar__item--show-qr:hover .navbar__qr {
    display: block;
    /* khi hover thì css sẽ apply vào .navbar__qr */
}

.navbar__qr-apps {
    display: flex;
    justify-content: space-between;
}

.navbar__qr-img {
    width: 100%;
}

.navbar__qr-apps-img {
    height: 1.6rem;
}

.navbar__apps-link:first-child {
    margin-left: 1.1rem;
}

.navbar__apps-link:nth-child(2) {
    margin-right: 0.9rem;
}
/* === End navbar QR code */
/* === End top header */

/* ===End header */